.returnTitle {
    height: 200px;
    text-align: center;
    font-family: "나눔바른펜";
    color: black;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: xx-large;
}

.mainarticle {
    text-align: center;
    font-family: "나눔바른펜";
    color: black;
    font-size: x-large;
}
.returnbutton {
    height: 100px;
    padding-top: 50px;
    text-align: center;

}

.returnCitySearch {
    display: inline-block;
    float: left;
    font-family: "나눔바른펜";
    margin: 50px;

}
.returnCitySearch a {
    font-size: xx-large;
    text-decoration: none;
    color: black;
    opacity: 0.3;
    transition: all 2s;
}
.returnCitySearch a:hover {
    opacity: 1.0;
    transition: all 2s;

}

.returnMainPage {
    display: inline-block;
    float: left;
    margin: 50px;
    font-family: "나눔바른펜";
}

.returnMainPage a {
    font-size: xx-large;
    text-decoration: none;
    color: black;
    opacity: 0.3;
    transition: all 2s;
}
.returnMainPage a:hover {
    opacity: 1.0;
    transition: all 2s;
}