.returnTitle {
    height: 200px;
    text-align: center;
    font-family: "나눔바른펜";
    color: black;
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: xx-large;
}

.mainarticle {
    text-align: center;
    font-family: "나눔바른펜";
    color: black;
    font-size: x-large;
}
.returnbutton {
    height: 100px;
    padding-top: 50px;
    text-align: center;

}
a {
    font-size: xx-large;
    text-decoration: none;
    font-family: "나눔바른펜";
    color: black;
    opacity: 0.3;
    transition: all 2s;

}

a:hover {
    opacity: 1.0;
    transition: all 2s;
}
